*{margin: 0;padding: 0;}
body{background-color: rgba(166, 42, 42, 0.54);}
.base{width: 320px;height: 2000px;margin: 0 auto;}
.title{width: 320px;height: 40px;line-height: 40px;background-color: rgb(239, 183, 194);position: fixed;top:0;color: white;z-index: 2;}
.person{margin-top: 40px;color: #e5e5e5;}
.person>ul>li{line-height: 40px;height: 40px;font-size: 15px;margin: 0 5px;border-bottom: 1px solid rgba(227, 227, 227, 0.41);}
.person span{margin: 0 5px;}
.num{font-size: 12px;color: #e7e7e7;}
.createtitle{height: 25px;line-height: 25px;font-size: 12px;background-color: rgba(249, 249, 249, 0.56);color: white}
.creategedan{border-bottom: 1px solid rgba(227, 227, 227, 0.41);color: white;}
.img{width: 80%;height: 50px;padding: 4px 9px;}
.creategedan span{height: 25px;line-height: 25px;font-size: 12px;color: white;}
.download{background-color: #5cc3ff;border-radius: 50%;font-weight: 100}
.name{background-color: rgb(239, 183, 194);color: white;margin-top: 40px;}
.con{padding-top: 15px;padding-bottom: 10px;}
.name img{width: 100%;height: 100px;padding:0 15px;}
.con p:nth-child(1){font-size: 17px;font-weight: bold;}
.caozuo{width: 320px;height: 40px;line-height: 40px;background-color: rgb(239, 183, 194);font-size: 16px;color: white;}
.gequlist{height: auto;border-radius: 5px;color: white}
.g-title{height: 35px;line-height: 35px;border-bottom:1px solid rgba(227, 227, 227, 0.41);}
.list{padding: 6px 0;border-bottom:1px solid rgba(227, 227, 227, 0.41);}
.list span{line-height: 23px;height: 23px;}
.list>div>i{line-height: 45px;height: 45px;}
.list:last-child{margin-bottom: 50px;}
.foot{color: white;width:320px;background-color: rgb(239, 183, 194);position: fixed;bottom: 0;}
.foot img{width: 100%;padding: 6px 6px;}
.foot span{line-height: 23px;height: 23px;}
.foot div>i{line-height: 45px;height: 45px;}
.lines{padding-top: 10px;width:320px;height: 40px;line-height: 25px;background-color: rgb(239, 183, 194);color: white;position: fixed;top:40px;z-index: 2;}
.now{display: inline-block;border-bottom: 3px solid white}
.imgshow{position: relative;overflow: hidden;margin-top: 80px;}
.lunbo{width: 1280px;}
.lunbo>li{width: 320px; height: 100px;}
.lunbo>li img{ width: 100%;height: 100%;padding:0 5px 5px 5px;}
.dianlist{ position: absolute;z-index: 1;bottom: 15px;right: 20px;}
.dianlist>div{float: left;margin: 0 3px;width: 8px;height: 8px;border-radius: 50%; border: 1px solid deeppink;}
.tuijianicon{color: white;margin-top: 5px;border-bottom: 1px solid rgba(146, 121, 121, 0.54);}
.tuijianicon i{display: inline-block;font-size: 18px;background-color: white;padding: 7px 7px;border-radius: 50%;color: #898989;}
.tui-jian{color: white;margin-top: 15px;}
.tui-jian>p{font-size: 17px;}
.tui-jian img{width: 90%;padding: 3px 5px;height: 100px;}
.tui-jian>div p{font-size: 12px;padding: 5px 5px;}
.imglist{position: relative;}
.er{position: absolute;top:5px;right: 15px;font-size: 12px;color: grey;}
.vip_center{margin-top: 15px;background-color: rgba(166, 42, 42, 0.08);padding: 15px 0; width: 320px;}
.vip_center>p{font-size: 17px;color: white;font-weight: bold;}
.vip_center li{height: 150px;!important;}
.vip_center>span{display: inline-block;padding: 3px 14px;border: 1px solid white;border-radius: 10px;color: white;margin-top: 7px;}
.gd-list{margin: 17px 0;color: white;}
.gd-list img{width: 100%;padding: 2px 5px;}
.content>p>span{font-size: 12px;}
.content>p:nth-child(1){font-size: 16px;font-weight: 600;margin-bottom: 5px;}
.content>p:nth-child(1)>span{display: inline-block;border: 1px solid white;padding: 2px 3px;}
.content>p:nth-child(2){border-bottom: 1px solid white;margin-bottom: 5px;padding-bottom: 2px;}
.jingcai{margin-top: 80px;color: white;padding: 10px 5px;position: relative;overflow: hidden;border-bottom: 1px solid rgba(227, 227, 227, 0.41);}
.jc-img{width: 640px;margin-left: 0;}
.jc-img>li{width: 64px;padding: 2px 10px;font-size: 12px;}
.jc-img img{width: 100%;border-radius: 50%;}
.dongtai{margin-top: 10px;padding: 10px 6px;color: white;}
.tit img{width: 100%;border-radius: 50%;padding: 5px 5px;}
.tit p{margin-bottom: 0px;color: #9fd1ff;font-weight: 600}
.tit span{font-size: 12px;}
.dt-con{padding-left: 50px;color: white;padding-right: 5px;border-bottom: 1px solid rgba(227, 227, 227, 0.41);}
.dt-con p{font-weight: 600;}
.dt-con>p>span{color: #9fd1ff;}
.dt-con>img{width: 50%;}
.zhuanji{margin-top: 5px;background-color: rgba(249, 249, 249, 0.05);padding: 7px 7px;border-radius: 10px;}
.zhuanji img{width: 100%;}
.zhuanji p{margin-bottom: 0px;}
.zhuanji p>span{font-size: 12px;font-weight: 100;}
.dt-end{padding: 15px;font-size: 12px;}
.ht-block{padding: 15px 10px;border-bottom: 1px solid rgba(227, 227, 227, 0.41);border-top: 1px solid rgba(227, 227, 227, 0.41);height: 200px;position: relative}
.ht-block img{width: 100%;height:170px;}
.ceng{width:300px;height: 170px;z-index: 2;background-color: rgba(255, 255, 255, 0.28);position: absolute;top:15px;left: 10px;}
.p-con{position: absolute;top:70px;left: 90px;color: white;border-top:  2px solid rgba(227, 227, 227, 0.41);}
.p-con p{margin-bottom: 0;}
.close{position: absolute;top:20px;right: 15px;color: #cccccc;}
.youxuan{margin-top: 25px;color: white;font-size: 12px;padding: 5px 5px;}
.youxuan span{font-weight: bold;font-size: 15px}
.youxuan img{width: 100%;padding: 10px 10px;}
.lii span{padding-top: 10px;display: inline-block}
.lii p{margin-bottom: 0;}
.lii p:nth-child(3){padding-bottom: 23px;border-bottom: 1px solid rgba(227, 227, 227, 0.41);}
.jingpin{margin: 15px 0;padding: 15px 5px;color: white;background-color: rgba(166, 42, 42, 0.08);}
.jingpin>p{font-size: 17px;margin-bottom: 0px;}
.up{position: relative;width: 100%;height:auto;border-radius: 8px 8px 0 0;}
.up>img{width: 100%;}
.up>span{position: absolute;bottom: 4px;font-size: 12px;width: 100%;left: 0;}
.down{width: 100%;height: auto;background-color: white;border-radius: 0 0 5px 5px;}
.down>span{font-size: 12px;color: black;}
.down>p{font-size: 12px;color: red;margin-bottom: 0;padding-bottom: 5px;}
.f1{padding-left: 5px;}
.alljp{display: inline-block;padding: 4px 17px;font-size: 12px;border: 1px solid white;border-radius: 15px;margin-top: 20px;}
.nowday{color: rgba(255, 255, 255, 0.61);}
.s-title{width: 320px;height: 40px;position: fixed;top:0;background-color:rgb(239, 183, 194);line-height: 40px; }
.s-title i{font-size: 16px;color: white;}
.sea{height: 30px;width: 100%;outline: 0;background-color: transparent;text-decoration: none;border: none;border-bottom: 1px solid white;font-size: 15px;font-weight: 600;color: #e5e5e5;}
input::-webkit-input-placeholder{    color: rgba(244, 239, 240, 0.33);}
.fen{height: 45px;line-height: 45px;margin-top: 40px;color: white;border-bottom:1px solid rgba(227, 227, 227, 0.41); }
.remen{margin-top: 15px;color: white;padding-left: 7px;}
.remen>span{display: block;padding: 3px 10px;border: 1px solid white;border-radius: 16px;float: left;margin:6px 10px;}